/* nav related styles */


*{
    margin: 0;
}
body{
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500px;
  font-style: normal;
  font-variation-settings:
    "wdth" 800;

    display: flex;
    flex-direction: column;
   
    
}
header{
    background-color: #fff8f3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.maryheader{
    font-size: 45px;
    font-weight: 800;
    font-style: normal;
    line-height: normal;
    color: #181818;
    margin-top: 51px;
    margin-left: 226px; 
}
.maryheader_a{
    color: #FD6E0A;
}
.navul{
    display: flex;
    align-items: center;
    margin-top: 51px;
    margin-right: 200px;
    
}

nav li{
    list-style: none;
    margin-right: 51px;
}

nav a{
    text-transform: none;
    color: #474747;
}

nav button{
    width: 150px;
    height: 64px;
    background-color: #FD6E0A;
    color: white;
    border-radius: 5px;
    border: 0px ;
    font-size: 20px;
    font-weight: 200;
}

.banner{
    padding: 30px 40px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: ;
}
.bannertext{
    max-width: 585px;
}
.banner h3{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}
.banner h1{
    font-size: 85px;
    font-weight: 700;
}

.banner p{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

.hardyimg{
     width: 584px;
}

.cv_button{
    background-color:#FD6E0A;
    width: 200px;
    height: 64px;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    border: 0px;
    margin-right: 30px;

}

.contact_button{
    width: 160px;
    height: 64px;
    color: #FD6E0A;
    font-size: 20px;
    background-color:#fff8f3;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
}

/* header related styles finish here */

/* main section styles */

main{
    max-width: 1140px;
    margin: 0 auto;
    
}

     /* about section styles */

.about{
    padding: 130px;
    background-color: #fff8f3;
    border-radius: 10px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    margin-top: 120px;
    
    max-height: 550px;
    margin-bottom: 100px;

    

}

.section_title{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 35px;
    color: #181818;
    
}

.about_text{
    color: #757575;
    max-width: 827px;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    margin: 20px auto;
    
}

.about_info_container{
    display: flex;
    margin: 20px auto 0;
    /* column-gap: 45px; */
    justify-content: space-around;
    
}
.about_info{
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    /* row-gap: 5px; */
    text-align: center;
}

.info_title{
    color: #757575;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px;
}
.info_desc{
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    
}

/* what i do  */

.what_i_do{
    margin-bottom: 100px;
}

.what_i_do_para{
    color: #757575;
    max-width: 909px;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    margin: 20px auto ;
}

/* skills */

.skills_container{
    display: flex;
    gap: 24px;
    margin-top: 35px;
}

.skill{
    padding: 33px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 3px 3px 28px 1px rgb(0, 0, 0, 0.06);
}

.skill_desc{
    font-size: 16px;
    color: #757575;
    line-height: 28px;

}

.skill_title{
    color: #181818;
    margin: 20px auto;
    font-size: 20px;
}


/* resume section  */

.resume_column_title{

    color: #474747;
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;


}

.resume_container{
    display: flex;
    gap: 50px;
    margin-top: 100px;
}

.resume_item_desc{
    color: #757575;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 20px;
    width: 511px;

}

.resume_item_inst{
    font-size: 20px;
    color: #757575;
    font-weight: 600;
    margin-top: 6px;
    margin-bottom: 13px;
}

.resume_item_title{
    font-size: 25px;
    color: #474747;
    font-weight: 900;
    margin-top: 23px;
}

.download_cv{
    text-align: center;
    margin-top: 40px;
}

/* footer style */

footer{
    display: flex;
    background-color: #fff8f3;
    padding: 130px 200px;
    margin-top: 100px;
    gap: 100px;
}

.msg_text{
    width: 562px;
    margin-top: 15px;
    margin-bottom: 20px;
    color: #474747;
}

.social_links{
    display: flex;
    gap: 20px;

    

}

.footer_column{
    width: 50%;
}

.footer_title{
    color: #181818;
    font-size: 35px;
    font-weight: 700;
}

.contact_form input, textarea{
    display: block;
}

.nameinp, .emailinp, .msginp{
    font-size: 16px;
    color: #757575;
    width: 461px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 0px;
    padding-left: 25px;
}

.nameinp{
    margin-top: 15px;
}

.nameinp, .emailinp{
    height: 64px;
    
}

.msginp{
    height: 180px;
    padding-top: 20px;
    text-decoration: none;
    
}

.submit{
 color: white;
 background-color: #FD6E0A;
 font-size:20px ;
 border-radius: 5px;
 border: 0px;
 width: 150px;
 height: 64px;


}
